<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PerfViewerControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PerfViewerControl.Properties.Settings>
            <setting name="ShowInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAvgLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainSplitterDistance" serializeAs="String">
                <value>322</value>
            </setting>
            <setting name="EventInfoSplitterDistance" serializeAs="String">
                <value>321</value>
            </setting>
            <setting name="GraphSplitterDistance" serializeAs="String">
                <value>321</value>
            </setting>
            <setting name="ShowGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEventInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </PerfViewerControl.Properties.Settings>
    </userSettings>
</configuration>